* {
  box-sizing: border-box;
  color: white;
  font-size: 12px;
}

body,
html {
  height: 100%;
}

:root {
  --color1: #cecccc;
  --color2: #9d6381;
  --color3: #fdecef;
  --color4: #0f110c;
  --color5: #612940;
}

:root {
  --color1: #4e6e58;
  --color2: #4c8577;
  --color3: #a6ece0;
  --color4: #0f110c;
  --color5: #7adfbb;
}

.bg {
  background-color: var(--color4);
  height: auto;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

[class*="col-"] {
  width: 100%;
}

.header {
  font-size: 20px;
}

.avatar {
  vertical-align: middle;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  * {
    font-size: 20px;
  }
  .header {
    font-size: 120px;
  }
  .avatar {
    width: 96px;
    height: 96px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container-center-nav {
  display: flex;
  justify-content: space-around;
}

.container-center-nav > div {
  display: inline-block;
}
